# Official docker image.
image: docker:latest

services:
  - docker:dind

stages:
  - build
  - test
  - release

variables:
  CONTAINER_TEST_IMAGE: registry.gitlab.com/pushfish/pushfish-api:$CI_COMMIT_REF_SLUG
  CONTAINER_RELEASE_IMAGE: registry.gitlab.com/pushfish/pushfish-api:latest

before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com

build:
  stage: build
  script:
    - docker build --pull -t $CONTAINER_TEST_IMAGE .
    - docker push $CONTAINER_TEST_IMAGE

unitests:
  stage: test
  script:
    - docker pull $CONTAINER_TEST_IMAGE
    - docker network create pushfish
    - docker run -d --name mqtt --network pushfish toke/mosquitto:latest
    - docker run -e MQTT_ADDRESS='mqtt' --network pushfish $CONTAINER_TEST_IMAGE python tests.py
    - docker stop mqtt
    - docker rm mqtt

pylint:
  image: python:3-slim
  allow_failure: true
  before_script:
    - echo
  stage: test
  script:
    - pip install --no-cache-dir -r requirements.txt
    - pip install --no-cache-dir pylint
    - FILES=$(find . -name "*.py")
    - pylint ${FILES}

release-image:
  stage: release
  script:
    - docker pull $CONTAINER_TEST_IMAGE
    - docker tag $CONTAINER_TEST_IMAGE $CONTAINER_RELEASE_IMAGE
    - docker push $CONTAINER_RELEASE_IMAGE
  only:
    - master
